.computed{
    display: flex;
    height: 16rem;
    justify-content: flex-end;
    padding: 1rem;
    
    .balance{
        font-size:4rem;
        color: $white;
        margin-right: 1rem;

    }
}

@media screen and (max-width:450px){
    .computed{
       
        justify-content: center;
      
        
        .balance{
            font-size:3rem;
            color: $white;
            margin-right: 0;
    
        }
    }
}