.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
  }
}

.dash-parent {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;

  .dash-panel {
    padding: 1rem;

    h1,
    h3 {
      margin: 0;
    }
  }
  .panel-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin-bottom: 0.5rem;
    }

    div {
      font-size: 24px;
      font-weight: bold;

      //    text-align: center;
    }

    .dash-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $trim;
      width: 40px;
      height: 40px;
      margin-bottom: 0.8rem;
      border-radius: 50%;

      i {
        color: $white;
      }
    }
  }
}

.dash-charts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 0 1rem 3rem;
  .pie {
    height: 50vh;
    width: 50vw;
    position: relative;
    flex: 2;
    padding: 0 2rem 0 0;
  }
  .bar {
    flex: 1;
    padding-left: 2.9rem;
    .dash-panel {
      padding: 1rem;

      h1,
      h3 {
        margin: 0;
      }
      .panel-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          margin-bottom: 0.5rem;
        }

        div {
          font-size: 24px;
          font-weight: bold;

          //    text-align: center;
        }
      }

      .dash-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $trim;
        width: 40px;
        height: 40px;
        margin-bottom: 0.8rem;
        border-radius: 50%;

        i {
          color: $white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dash-parent {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    .dash-panel {
      padding: 1rem;
      width: 110px;

      h1,
      h3 {
        margin: 0;
      }
    }
    .panel-child {
      display: flex;

      align-items: center;
      h1 {
        font-size: 16px;
      }
      h3 {
        margin-bottom: 0.5rem;
        font-size: 16px;
      }

      div {
        font-size: 24px;
        font-weight: bold;

        //    text-align: center;
      }

      .dash-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $trim;
        width: 40px;
        height: 40px;
        margin-bottom: 0.8rem;
        border-radius: 50%;

        i {
          color: $white;
        }
      }
    }
  }

  .dash-charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;

    .pie {
      height: 50vh;
      width: 50vw;
      min-width: 400px;
      position: relative;
      flex: 1;
      padding: 1rem;
    }
    .bar {
      flex: 1;
      display: flex;
      padding: 0;
      justify-content: center;
      .dash-panel {
        padding: 0.2rem;
        width: 110px;
        max-width: 110px;
        text-align: center;

        h1,
        h3 {
          margin: 0;
          font-size: 16px;
        }
        .panel-child {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      h1 {
        font-size: 18px;
      }
      .dash-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $trim;
        width: 40px;
        height: 40px;
        margin-bottom: 0.8rem;
        border-radius: 50%;

        i {
          color: $white;
        }
      }
    }
  }
}
