.list-table{
    display: flex;
    flex-direction: column;
    .dates{
        color:$titles;
        text-transform: uppercase;
        font-size: .8em;
    }
    .sort-header{
      display: flex;
      flex:1;
      flex-direction: row;
      margin-left: $default-page-LM;
      div{
          flex:1;
          color: $titles;
      }
      span{
          font-size: 8px;
          color: $titles;
      }
    }
    .list-elements{
        display: flex;
        flex:1;
        flex-direction: row;
        margin-left: $default-page-LM;
        .debit{
         color:$negative;
         &::before{
             content: '\2212'
         }
        }
        .credit{
            color: $positive;
            &::before{
                content: '\002B'
            }
        }
        i{
            font-size: 1em;
            line-height: 0;
          
            
      
        }
        .edit{
            display: inline;
            i{
                color:$trim;
                transition: all .3s ease-in-out;
                &:hover{
                    color: $primaryDark;
                    font-size: 1.4em;
                    
                }
              
               
            }
        }
        .delete{
            display: inline;
            i{
                color: $destroy;
                transition: all .3s ease-in-out;
                &:hover{
                    color: $primaryDark;
                    font-size: 1.4em;
                }
            }
        }
      
        }
        ul{
          padding:0;   
          flex:1;
        }
        li{
            line-height: 1rem;
            padding-top: .3rem;
            color: $listFont;
        }
       
    }
