.header {
  height: 350px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    273deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(58, 56, 151, 0.9556197478991597) 0%,
    rgba(163, 161, 255, 1) 100%
  );
}
.greeting {
  color: $white;
}
.interactive {
  display: flex;
  justify-content: flex-end;
}
.balances {
  color: $white;
  font-size: 7.2rem;
  .title {
    font-size: 1.5rem;
  }
}
//media

@media screen and (min-width: 1025px) {
  .header {
    height: 350px;
    margin-left: 5rem;
  }
}
