.header {
  height: 350px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    273deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(58, 56, 151, 0.9556197478991597) 0%,
    rgba(163, 161, 255, 1) 100%
  );
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 0.5rem;
    display: block;
    color: white;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.greeting {
  color: $white;
}
.interactive {
  display: flex;
  justify-content: flex-end;
}
.balances {
  color: $white;
  font-size: 7.2rem;
  .title {
    font-size: 1.5rem;
  }
}
//media

@media screen and (min-width: 1025px) {
  .header {
    height: 350px;
    .menu {
      display: none;
    }
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
    padding: 0.8rem;
  }
  .greeting {
    color: $white;
  }
  .interactive {
    display: flex;
    justify-content: flex-end;
  }
  .balances {
    color: $white;
    font-size: 7.2rem;
    .title {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 250px;
    .menu {
      display: block;
    }
  }
  .header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 1.2rem;
    padding: 0.8rem;
  }
  .greeting {
    color: $white;
    margin-bottom: 1rem;
    h1 {
      font-size: 1.5rem;
    }
  }
  .interactive {
    display: flex;
    justify-content: flex-end;
  }
  .balances {
    color: $white;
    font-size: 3.2rem;
    .title {
      font-size: 1rem;
      text-align: center;
    }
  }
}
