//mobile

.project-nav {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

.nav-mobile {
  height: 400px;
  width: 50px;
  position: absolute;
  background: $primary;
  z-index: 1000;
  top: 30px;
  border-radius: 6px;
  //display: none;

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    li {
      padding-top: 2rem;
    }
  }
}
.navbar {
  height: 100%;
  z-index: 100;
}
.logo-item {
  display: none;
}
.exit-item {
  display: none;
}

@media screen and (min-width: 1025px) {
  .project-nav {
    .desktop-nav {
      display: block;
    }
    .mobile-nav {
      display: none;
    }
  }
  .nav-desktop {
    height: 100vh;
    position: fixed;
    width: 5rem;
    background: $primary;
    //display: block;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    ul {
      display: flex;
      flex-direction: column;
      height: 300px;
      max-height: 300px;
    }
  }
  .logo-item {
    display: block;
    flex: 1;

    width: 100%;
  }
  .nav-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;

    li {
      padding-bottom: 3rem;
    }
  }
  .exit-item {
    display: block;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1.6rem;
  }
  .logo {
    background: $primaryDark;
    width: inherit;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 375px) {
}
