.paginate{
    display: flex;
    justify-content: center;
    margin-top:3rem; 

    .paginate-child{
        display: flex;
        justify-content: center;
       li{
        display: inline;
        padding: 1em;
        a{
            background-color: $trim;
            padding: .5rem 1.0rem;
            border-radius: 4px;
            color: $white;
            outline: none;
            transition: all .3s ease-in;
            box-shadow: $shadow;
            &:hover{
                background-color: $primary;
            }
        }
     
       }
    }
}

@media(max-width:768px){
    .paginate{
      
    
        .paginate-child{
            display: flex;
            justify-content: center;
           li{
          
            padding: .3rem;
            a{
              
                padding: .5rem .8rem;        
                                     
                font-size: 14px;
               
            }
         
           }
        }
    }
}