.transaction-header {
  width: 100%;

  ul {
    display: flex;
    align-items: center;
    li {
      padding-left: 2rem;
      cursor: pointer;
    }
    li:first-child {
      padding-left: 0;
    }
    li:last-child {
      flex: 2;
      display: flex;
      justify-content: flex-end;
    }
  }
}
