
.auth-container{
   height: 100vh;
   display: flex;
   flex:1;
   justify-items: center;
   align-items: center;
   .form-container{
      flex:1
   }
}





input[type="text"]{
       width: 100%;
       display: inline-block;
       margin: 0 auto;
       padding: 12px 20px;
       border-radius: 6px;
       border: 1px solid #ccc;
       box-sizing: border-box;
       outline: none;
     
       transition: all 0.4s ease-in-out;
     
    }

    input[type="text"]:focus{
      border: 2px solid rgba(0, 12, 55, 0.4);
      background-color: aquamarine;
   }


    
