.nav {
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #393857;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.navbar {
  height: 100%;
}

.logo-item {
  display: none;
}

.exit-item {
  display: none;
}

@media screen and (min-width: 1025px) {
  .nav {
    height: 100vh;
    position: fixed;
    width: 5rem;
    background: #393857;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
    max-height: 300px;
  }
  .logo-item {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .nav-contents {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .exit-item {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 1.6rem;
  }
  .logo {
    background: #30304d;
    width: inherit;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header {
  height: 350px;
  background: #020024;
  background: linear-gradient(273deg, #020024 0%, rgba(58, 56, 151, 0.95562) 0%, #a3a1ff 100%);
}

.greeting {
  color: #fff;
}

.interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.balances {
  color: #fff;
  font-size: 7.2rem;
}

.balances .title {
  font-size: 1.5rem;
}

@media screen and (min-width: 1025px) {
  .header {
    height: 350px;
    margin-left: 5rem;
  }
}

td,
th {
  font-size: 20px;
  text-align: left;
}

th {
  padding-bottom: 3rem;
}

tbody td {
  padding: 1rem;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: #565656;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #30304d;
}

body::-webkit-scrollbar-thumb {
  background-color: #a8a5eb;
}

table {
  width: 100%;
}

a {
  text-decoration: none;
  color: #2a2a44;
}

ul {
  list-style: none;
  padding: 0;
}

i {
  margin: 0 1rem;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content {
  margin-left: 5rem;
  margin-top: -5rem;
  background: #fff;
  min-height: 50vh;
  border-radius: 15px 15px 0 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.debit {
  color: rgba(207, 91, 56, 0.781);
}

.debit::before {
  content: "\2212";
}

.credit {
  color: #67d467;
}

.credit::before {
  content: "\002B";
}

.top-spacer {
  margin-top: 1.5rem;
}

.cursors {
  cursor: pointer;
}

.errors {
  color: rgba(207, 91, 56, 0.781);
  margin-top: 0.5em;
}

.fadeIn {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

.fadeOut {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

@media (max-width: 768px) {
  .page-headers {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */